---
layout: page
title: Bala Ramadurai
tagline: Consultant and Professor in Innovation and Entrepreneurship
---
{% include JB/setup %}

Occassionally, I write up a few blog posts on varied topics from stories to tech to well, anything under the sun.

My Posts are given below:

<ul >
    {% for post in site.posts limit 4 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
        {{ post.content | strip_html | truncatewords:75}}<br>
            <a href="{{ post.url }}">Read more...</a><br><br>
    {% endfor %}
</ul>
