<div id="bk22" class="bk-widget widget-content widget-content-3722B2">
<p>&nbsp;</p>
</div>
<div id="bk23" class="bk-widget widget-columns widget-content-QFSMA">
<div id="bk24" class="control-zone widget-columns-column widget-columns-column-9RZV10">
<div class="widget-columns-column-padding bk-first">
<div id="bk25" class="bk-widget widget-image widget-image-JHK85Z">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/lab3.png" alt="Image description" title="" />
</div>
</div>
</div>
<div id="bk26" class="control-zone widget-columns-column widget-columns-column-EZOR14">
<div class="widget-columns-column-padding bk-last">
<div id="bk27" class="bk-widget widget-content widget-content-HEQFJS">
<p><span style=
"font-size: 18px; font-family: georgia, palatino;">Dr. Bala
Ramadurai is an independent innovation consultant and professor. He
has 3 patents to his credit and 10+ publications in international
research journals. He co-founded TRIZ Innovation India (<a href=
"http://trizindia.org" target="_blank">http://trizindia.org</a>)
and is an Adjunct Professor at Symbiosis Institute of Business
Management, India (<a href="http://www.sibm.edu/" target=
"_blank">http://www.sibm.edu</a>). He is a senior innovation
leadership consultant at Innomantra Consulting Ltd (<a href=
"http://www.innomantra.com" target=
"_blank">http://www.innomantra.com</a>).&nbsp;</span></p>
</div>
</div>
</div>
</div>
<div id="bk28" class="bk-widget widget-columns widget-content-1HG4J">
<div id="bk29" class="control-zone widget-columns-column widget-columns-column-1B6806">
<div class="widget-columns-column-padding bk-first">
<div id="bk30" class="bk-widget widget-image widget-image-13B2UJ">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/graduate20_1.png" alt="Image description" title="" />
</div>
</div>
</div>
<div id="bk31" class="control-zone widget-columns-column widget-columns-column-6Q785V">
<div class="widget-columns-column-padding bk-last">
<div id="bk32" class="bk-widget widget-content widget-content-64GIXV">
<p><span style=
"font-size: 18px; font-family: georgia, palatino;">He has a PhD
from Arizona State University, USA, and a B.Tech from IIT Madras,
India.&nbsp;</span></p>
</div>
</div>
</div>
</div>
<div id="bk33" class="bk-widget widget-columns widget-content-GCVBH">
<div id="bk34" class="control-zone widget-columns-column widget-columns-column-E2O8O7">
<div class="widget-columns-column-padding bk-first">
<div id="bk35" class="bk-widget widget-image widget-image-68QH20">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/play7.png" alt="Image description" title="" />
</div>
</div>
</div>
<div id="bk36" class="control-zone widget-columns-column widget-columns-column-H3LWYN">
<div class="widget-columns-column-padding bk-last">
<div id="bk37" class="bk-widget widget-content widget-content-5V05RS">
<p><span style=
"font-size: 18px; font-family: georgia, palatino;"><span>He was a
Technology Forecasting researcher and designer in the FORMAT
project at Politecnico di Milano, Milan, Italy. He managed and
designed the handbook for the technology forecasting methodology.
(<a href="http://handbook.format-project.eu" target=
"_blank">http://handbook.format-project.eu</a>)</span></span></p>
<p><span style=
"font-size: 18px; font-family: georgia, palatino;">&nbsp;<br /></span></p>
<p><span style=
"font-size: 18px; font-family: georgia, palatino;">Bala was a
systematic innovation facilitator at MindTree Ltd (<a href=
"http://www.mindtree.com" target=
"_blank">http://www.mindtree.com</a>), India, where he designed and
crafted 5*50, a key innovation intrapreneurship
program.&nbsp;&nbsp;</span></p>
<p><br /></p>
<p><span style=
"font-size: 18px; font-family: georgia, palatino;">Prior to
MindTree, he was a Research Scientist at General Electric Global
Research, India.&nbsp;&nbsp;</span></p>
<p><br /></p>
<p><span style=
"font-size: 18px; font-family: georgia, palatino;">He has mentored
students in an entrepreneurship course facilitated by Carnegie
Mellon University, USA, and has been cited as an expert in
innovation and creativity by Harvard Business Review. (﻿<a href=
"https://hbr.org/product/Mindtree--A-Community-of-/an/311049-PDF-ENG"
target=
"_blank">https://hbr.org/product/Mindtree--A-Community-of-/an/311049-PDF-ENG</a></span><span style="font-family: georgia, palatino; font-size: 18px;">)</span></p>
<p><br /></p>
<p><span style=
"font-size: 18px; font-family: georgia, palatino;">His teaching
experience includes creative problem solving courses at IIT Madras,
IIT Gandhinagar, IIT Hyderabad, Symbiosis and IISc
Bangalore.</span></p>
</div>
</div>
</div>
</div>
<div id="bk38" class="bk-widget widget-columns widget-content-AA8KC">
<div id="bk39" class="control-zone widget-columns-column widget-columns-column-7DH4WM">
<div class="widget-columns-column-padding bk-first">
<div id="bk40" class="bk-widget widget-image widget-image-66N75K">
<a class="widget-image-link" href="http://in.linkedin.com/in/balaramadurai" target="_parent">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/linkedin12.png" alt="Image description" title="" />
</a>
</div>
</div>
</div>
<div id="bk41" class="control-zone widget-columns-column widget-columns-column-N77473">
<div class="widget-columns-column-padding bk-last">
<div id="bk42" class="bk-widget widget-content widget-content-TF0LQ8">
<p><strong><span style=
"font-size: 18px; font-family: georgia, palatino;"><a href=
"http://in.linkedin.com/in/balaramadurai" target=
"_blank">http://in.linkedin.com/in/balaramadurai</a></span></strong></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
