
<style type="text/css">

	.table-container
	{
		width: 100%;
		overflow-y: hidden;
		_overflow: hidden;
		margin: 0 0 1em;
	}

   .autoResizeImage {
    max-width: 100%;
    height: auto;
    width: auto;
}
</style>

<div class="table-container">
<table width="500px">
  <tr>
    <td><img class="autoResizeImage"  src="http://files.hostgator.co.in/hostgator256921/image/iitm.jpg" alt="IIT Madras" title="" /></td>
    <td><img class="autoResizeImage"  src="http://files.hostgator.co.in/hostgator256921/image/ge_1.png" alt="GE" title="" /></td>
    <td><img class="autoResizeImage"  src="http://files.hostgator.co.in/hostgator256921/image/cmusv_1.jpg" alt="Image description" title="" /></td>
  </tr>
  <tr>
    <td><img class="autoResizeImage"  src="http://files.hostgator.co.in/hostgator256921/image/ciie.png" alt="CIIE" title="" /></td>
    <td><img class="autoResizeImage"  src="http://files.hostgator.co.in/hostgator256921/image/uitm.png" alt="UIT, Malaysia" title="" /></td>
    <td><img class="autoResizeImage"  src="http://files.hostgator.co.in/hostgator256921/image/iimb.png" alt="IIM Bangalore" title="" /></td>
  </tr>
    <tr>
    <td><img class="autoResizeImage"  src="http://files.hostgator.co.in/hostgator256921/image/am.jpg" alt="Applied Materials" title="" /></td>
    <td><img class="autoResizeImage"  src="http://files.hostgator.co.in/hostgator256921/image/sibm.jpg" alt="SIBM, Pune" title="" /></td>
    <td><img class="autoResizeImage"  src="http://files.hostgator.co.in/hostgator256921/image/nasscom.jpg" alt="NASSCOM" title="" /></td>
    </tr>
      <tr>
    <td><img class="autoResizeImage"  src="http://files.hostgator.co.in/hostgator256921/image/trizindia.png" alt="TRIZ Innovation India" title="" /></td>
    <td><img class="autoResizeImage"  src="http://files.hostgator.co.in/hostgator256921/image/iisc.jpg" alt="Image description" title="" /></td>
    <td><img class="autoResizeImage"  src="http://files.hostgator.co.in/hostgator256921/image/mindtree.jpg" alt="Image description" title="" /></td>
      </tr>
<tr>
  <td><img class="autoResizeImage"  src="http://files.hostgator.co.in/hostgator256921/image/vlsi-society.jpg" alt="Image description" title="" />
    </td>
       <td><img class="autoResizeImage"  src="http://files.hostgator.co.in/hostgator256921/image/iitg.png" alt="Image description" title="" />
       </td>
  <td>
  </td>
  </tr>
</table>
</div>
