<section id="bk22" class="control-row theme-row-main row-main">
<div class="control-row-content">
<div id="bk23" class="bk-widget widget-columns widget-columns-1D21FZ">
<div id="bk24" class="control-zone widget-columns-column widget-columns-column-L6NXX7">
<div class="widget-columns-column-padding bk-first bk-last">
<div id="bk25" class="bk-widget widget-columns widget-content-BFSXK">
<div id="bk26" class="control-zone widget-columns-column widget-columns-column-FXQ995">
<div class="widget-columns-column-padding bk-first">
<div id="bk27" class="bk-widget widget-background widget-background-DM97Q6">
<div id="bk27BKcontent" class="bk-widget-content widget-background-content">
<div id="bk28" class="control-zone control-zone control-zone-TH9C2N">
<div id="bk29" class="bk-widget widget-content widget-content-X9W0K0">
<h3><span style="font-size: 24px;"><strong><span style=
"font-family: georgia, palatino;">Workshops, Training and
Projects</span></strong></span></h3>
</div></div>
</div>
</div>
<div id="bk30" class="bk-widget widget-columns widget-content-SA5NI">
<div id="bk31" class="control-zone widget-columns-column widget-columns-column-349JI9">
<div class="widget-columns-column-padding bk-first">
<div id="bk32" class="bk-widget widget-image widget-image-6PU46V">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/iitm.jpg" alt="Image description" title="" />
</div>
</div>
</div>
<div id="bk33" class="control-zone widget-columns-column widget-columns-column-231F22">
<div class="widget-columns-column-padding">
<div id="bk34" class="bk-widget widget-image widget-image-J1DKA7">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/ge_1.png" alt="Image description" title="" />
</div>
</div>
</div>
<div id="bk35" class="control-zone widget-columns-column widget-columns-column-592YH9">
<div class="widget-columns-column-padding">
<div id="bk36" class="bk-widget widget-image widget-image-926IPM">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/cmusv_1.jpg" alt="Image description" title="" />
</div>
</div>
</div>
<div id="bk37" class="control-zone widget-columns-column widget-columns-column-E7LNNM">
<div class="widget-columns-column-padding bk-last">
<div id="bk38" class="bk-widget widget-image widget-image-9AD0V2">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/ciie.png" alt="Image description" title="" />
</div>
</div>
</div>
</div>
<div id="bk39" class="bk-widget widget-columns widget-content-UE1MK">
<div id="bk40" class="control-zone widget-columns-column widget-columns-column-JXDL60">
<div class="widget-columns-column-padding bk-first">
<div id="bk41" class="bk-widget widget-image widget-image-B0XOU4">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/uitm.png" alt="Image description" title="" />
</div>
</div>
</div>
<div id="bk42" class="control-zone widget-columns-column widget-columns-column-0C1D0Q">
<div class="widget-columns-column-padding">
<div id="bk43" class="bk-widget widget-image widget-image-EBF97L">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/iimb.png" alt="Image description" title="" />
</div>
</div>
</div>
<div id="bk44" class="control-zone widget-columns-column widget-columns-column-FP6O8Q">
<div class="widget-columns-column-padding">
<div id="bk45" class="bk-widget widget-image widget-image-03KJR8">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/am.jpg" alt="Image description" title="" />
</div>
</div>
</div>
<div id="bk46" class="control-zone widget-columns-column widget-columns-column-3WL365">
<div class="widget-columns-column-padding bk-last">
<div id="bk47" class="bk-widget widget-image widget-image-67G474">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/sibm.jpg" alt="Image description" title="" />
</div>
</div>
</div>
</div>
</div>
</div>
<div id="bk48" class="control-zone widget-columns-column widget-columns-column-CYM212">
<div class="widget-columns-column-padding bk-last">
<div id="bk49" class="bk-widget widget-background widget-background-G61O0U">
<div id="bk49BKcontent" class="bk-widget-content widget-background-content">
<div id="bk50" class="control-zone control-zone control-zone-8K98QO">
<div id="bk51" class="bk-widget widget-image widget-image-1Y9508">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/balloon-20086_1280.jpg" alt="Image description" title="" />
</div>
<div id="bk52" class="bk-widget widget-content widget-content-44S6VC">
<h3>MAKE A DIFFERENCE</h3>
<p><br /></p>
<p><br /></p>
</div>
<div id="bk53" class="bk-widget widget-image widget-image-WX999H">
<img class="widget-image-image " src="http://www.hostgator.co.in/files/writeable/uploads/basekit-template-images/hostgator583_cross3.png" alt="Image description" title="" />
</div></div>
</div>
</div>
</div>
</div>
</div>
<div id="bk54" class="bk-widget widget-columns widget-content-MNVGF">
<div id="bk55" class="control-zone widget-columns-column widget-columns-column-W6615H">
<div class="widget-columns-column-padding bk-first">
<div id="bk56" class="bk-widget widget-image widget-image-P9KGV3">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/nasscom.jpg" alt="Image description" title="" />
</div>
</div>
</div>
<div id="bk57" class="control-zone widget-columns-column widget-columns-column-5ICO93">
<div class="widget-columns-column-padding">
<div id="bk58" class="bk-widget widget-image widget-image-00PN17">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/trizindia.png" alt="Image description" title="" />
</div>
</div>
</div>
<div id="bk59" class="control-zone widget-columns-column widget-columns-column-U7SBY2">
<div class="widget-columns-column-padding">
<div id="bk60" class="bk-widget widget-image widget-image-J24311">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/iisc.jpg" alt="Image description" title="" />
</div>
</div>
</div>
<div id="bk61" class="control-zone widget-columns-column widget-columns-column-W25507">
<div class="widget-columns-column-padding bk-last">
<div id="bk62" class="bk-widget widget-image widget-image-1SU81T">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/mindtree.jpg" alt="Image description" title="" />
</div>
</div>
</div>
</div>
<div id="bk63" class="bk-widget widget-content widget-content-RE3T4H">
<p><span style="font-size: 12px;">Indian Institute of
Science</span></p>
</div>
<div id="bk64" class="bk-widget widget-columns widget-content-VO2EF">
<div id="bk65" class="control-zone widget-columns-column widget-columns-column-EZVG1H">
<div class="widget-columns-column-padding bk-first">
<div id="bk66" class="bk-widget widget-image widget-image-L20S1C">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/vlsi-society.jpg" alt="Image description" title="" />
</div>
</div>
</div>
<div id="bk67" class="control-zone widget-columns-column widget-columns-column-5IZ2D3">
<div class="widget-columns-column-padding bk-last">
<div id="bk68" class="bk-widget widget-image widget-image-L73191">
<img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/iitg.png" alt="Image description" title="" />
</div>
<div id="bk69" class="bk-widget widget-content widget-content-2X6QQT">
<p style="text-align: center;">Indian Institute of Technology,
Gandhinagar</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
