<!--[if IE]>
<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="assets/stylesheets/basekitcore.css.bgz" />
<link rel="stylesheet" type="text/css" href="assets/stylesheets/custom7.css" />
<link rel="stylesheet" type="text/css" href="assets/stylesheets/theme405096-7.css" />
<link rel="stylesheet" type="text/css" href="assets/stylesheets/background_carousel_columns_columns-column_content_formarea_image_libraryitem_menu.css" />
<link rel="icon" href="http://files.hostgator.co.in/favicon.ico" type="image/x-icon" />
<link rel="SHORTCUT ICON" href="http://files.hostgator.co.in/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="assets/stylesheets/startcss.css" />
<link rel="canonical" href="http://www.balaramadurai.net/">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script type="text/javascript">!window.jQuery && document.write(unescape('%3Cscript src="/libraries/jquery/jquery-1.7.1.js"%3E%3C/script%3E'))</script>
<script type="text/javascript" src="/jqueryui.js"></script>
<body id="bk1" class="normal theme template-content page-home">
<script type="text/javascript"  src="assets/stylesheets/basekitcore.js"></script>
<script type="text/javascript" src="assets/stylesheets/background_carousel_columns_columns-column_content_formarea_image_libraryitem_menu.js"></script>

