<table>
  <tr>
    <td><img  src="http://files.hostgator.co.in/hostgator256921/image/lab3.png" alt="Image description" title="" />
    </td>
    <td><p><span style="font-size: 18px; font-family: georgia, palatino;">Dr. Bala Ramadurai is an independent innovation consultant and professor. He has 3 patents to his credit and 10+ publications in international research journals. He co-founded TRIZ Innovation India (<a href=
"http://trizindia.org" target="_blank">http://trizindia.org</a>) and is an Adjunct Professor at Symbiosis Institute of Business Management, India (<a href="http://www.sibm.edu/" target="_blank">http://www.sibm.edu</a>). He is a senior innovation leadership consultant at Innomantra Consulting Ltd (<a href="http://www.innomantra.com" target="_blank">http://www.innomantra.com</a>).&nbsp;</span></p>
    </td>
  </tr>
    <tr>
    <td><img  src="http://files.hostgator.co.in/hostgator256921/image/graduate20_1.png" alt="Image description" title="" />
    </td>
    <td><p><span style=
"font-size: 18px; font-family: georgia, palatino;">He has a PhD from Arizona State University, USA, and a B.Tech from IIT Madras, India.&nbsp;</span></p>
    </td>
    </tr>
      <tr>
    <td><img  src="http://files.hostgator.co.in/hostgator256921/image/play7.png" alt="Image description" title="" />
    </td>
    <td><p><span style=
"font-size: 18px; font-family: georgia, palatino;"><span>He was a
Technology Forecasting researcher and designer in the FORMAT
project at Politecnico di Milano, Milan, Italy. He managed and
designed the handbook for the technology forecasting methodology.
(<a href="http://handbook.format-project.eu" target=
"_blank">http://handbook.format-project.eu</a>)</span></span></p>
  <p><span style=
"font-size: 18px; font-family: georgia, palatino;">Bala was a
systematic innovation facilitator at MindTree Ltd (<a href=
"http://www.mindtree.com" target=
"_blank">http://www.mindtree.com</a>), India, where he designed and
crafted 5*50, a key innovation intrapreneurship
	  program.&nbsp;&nbsp;</span></p>
      <p><br /></p>
<p><span style=
"font-size: 18px; font-family: georgia, palatino;">Prior to
MindTree, he was a Research Scientist at General Electric Global
Research, India.&nbsp;&nbsp;</span></p>
<p><br /></p>
<p><span style=
"font-size: 18px; font-family: georgia, palatino;">He has mentored
students in an entrepreneurship course facilitated by Carnegie
Mellon University, USA, and has been cited as an expert in
innovation and creativity by Harvard Business Review. (﻿<a href=
"https://hbr.org/product/Mindtree--A-Community-of-/an/311049-PDF-ENG"
target=
"_blank">https://hbr.org/product/Mindtree--A-Community-of-/an/311049-PDF-ENG</a></span></p>
<p><br /></p>
<p><span style=
"font-size: 18px; font-family: georgia, palatino;">His teaching
experience includes creative problem solving courses at IIT Madras,
IIT Gandhinagar, IIT Hyderabad, Symbiosis and IISc
Bangalore.</span></p>
    </td>
	</tr>
	  <tr>
    <td><a href="http://in.linkedin.com/in/balaramadurai" target="_parent">
<img  src="http://files.hostgator.co.in/hostgator256921/image/linkedin12.png" alt="Image description" title="" />
</a>
    </td>
    <td><p><strong><span style=
"font-size: 18px; font-family: georgia, palatino;"><a href=
"http://in.linkedin.com/in/balaramadurai" target=
"_blank">http://in.linkedin.com/in/balaramadurai</a></span></strong></p>
    </td>
  </tr>
</table>
