<p style="text-align: center;"><strong><span style=
					     "font-size: 32px;">Areas of Expertise</span></strong></p>

<table>
  <tr>
    <td>
<h1><span style="color: rgb(59, 82, 116);">Creative Problem
Solving</span></h1>
    </td>
    <td>
      <h1><span style="color: rgb(59, 82, 116);">Technology
Forecasting</span><br /></h1>
    </td>
    <td>
      <h1><span style=
"color: rgb(59, 82, 116);">Intrapreneurship</span><br /></h1>
    </td>
  </tr>
  <tr>
    <td>
<span style=
"font-family: georgia, palatino; font-size: 18px;">Creativity is
considered to be a trait of the artist, the recluse, and the
non-conformist.&nbsp;</span>
<span style=
"font-family: georgia, palatino; font-size: 18px;">But voilà! A
step-by-step process can help everyone generate wacky yet relevant
ideas. ARIZ/TRIZ is a set of tools that can assist you in
streamlining your path to creativity.&nbsp;</span>
<p><span><br /></span></p>
</td>
    <td>
<p><span><span style=
"font-family: georgia, palatino; font-size: 18px;">Let's assume
that you have a fantastic piece of equipment or software based on a
technology that has served you for a very long time.You are unsure
about whether this technology will last a lifetime or whether it is
time for an alternative to take over. TECHNOLOGY FORECASTING is a
methodology to determine the path that technology will take and
thus help you decide your next course of
action.</span><br /></span></p>
</td>
    <td>
<p><span style=
"font-size: 18px; font-family: georgia, palatino;"><span style=
"color: rgb(17, 17, 25); background-color: rgb(255, 255, 255);">Starting
a company is an exciting proposition; however, it seems risky,
particularly for employees of a company. How do you create a new
startup without leaving the comfort of your current job? The
solution to this quandary is INTRAPRENEURSHIP -- a customized
program to promote entrepreneurship within the culture and
infrastructure of the current organization.</span>﻿</span></p>
    </td>
  </tr>
</table>

<h1 style="text-align: center;"><span style=
"font-size: 32px; font-family: helvetica;">Mode of
Engagement</span></h1>

<table>
  <tr>
    <td>
      <img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/face2face-sessions.png" alt="Image description" title="" />
    </td>
    <td>
      <img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/remote-sessions.png" alt="Image description" title="" />
    </td>
    <td>
      <img class="widget-image-image " src="http://files.hostgator.co.in/hostgator256921/image/face2face-conclude_1.png" alt="Image description" title="" />
    </td>
  </tr>
  <tr>
    <td>
<p style="text-align: center;"><strong><span style=
"font-size: 18px;">Face-to-Face Sessions</span></strong></p>
    </td>
    <td>
      <p style="text-align: center;"><strong><span style=
"font-size: 18px;">Remote Sessions OR Onsite
	    Sessions</span></strong></p>
    </td>
    <td>
      <p style="text-align: center;"><span style=
"font-size: 18px;"><strong>Face-to-Face Concluding
	    Session</strong></span></p>
    </td>
  </tr>
  </table>
